body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    background-color: wheat;
    pointer-events: all;    
}

#tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    font-family: sans-serif;
    color: #333;
}


